window {
  color: #e0e0e0;
}

#input {
  background: transparent;
  border: none;
  font-size: 16px;
  border-radius: 0;
  padding: 7px;
  padding-left: 12px;
  padding-right: 12px;
  border-bottom: solid 1px #404040;
  color: #e0e0e0;
  font-weight: 500;
}

#input:focus {
  box-shadow: none;
}

#outer-box {
  background: #1a1a1a;
  border-radius: 7px;
  padding-bottom: 10px;
}

#entry:selected {
  background: rgba(255, 255, 255, 0.05);
  color: #e0e0e0;
  border: none;
  outline: none;
  box-shadow: none;
}

#entry {
  padding: 6px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 9px;
  font-size: 14px;
  min-height: 30px;
}

#scroll {
  margin-top: 10px;
  padding-left: 7px;
  padding-right: 7px;
}

#img {
  margin-right: 5px;
}

#text {
  font-weight: 500;
  opacity: 0.9;
}

#input > image.right {
  color: rgba(255, 255, 255, 0.3);
}

#input > image.left {
  -gtk-icon-transform: scaleX(0);
  margin-left: -20px;
}
